/**
 *
 * Date: July 26, 2018
 * File: SQLAutoCreation.sql
 * Author: James Grau
 * Student Number: 991443203
 *
 **/


USE [master]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 7/26/2018 17:31:51 ******/
CREATE DATABASE [CarSalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.JAMESGRAUSQLSERVER\MSSQL\DATA\CarSalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.JAMESGRAUSQLSERVER\MSSQL\DATA\CarSalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSalesDB]
GO
USE [CarSalesDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/26/2018 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](128) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[address] [varchar](100) NOT NULL,
	[postalCode] [varchar](7) NOT NULL,
	[phoneNumber] [varchar](14) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/26/2018 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[customer] [smallint] NOT NULL,
	[brand] [varchar](50) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[color] [varchar](50) NOT NULL,
	[price] [money] NOT NULL,
	[orderDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_orderDate]  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([customer])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
USE [master]
GO
